.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  max-width: 1000px;
  background-color: #f0f0f0;
  padding: 10px;
}

/* .message{

} */

.button {
  padding: 10px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid orangered;
}

.button:hover {
  color: white;
  background-color: orangered;
}

.block_dscr {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 20px;
  align-items: stretch;
}

.moviePoster {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  min-width: 140px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dscr {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
}

.nav {
  display: flex;
  margin: auto;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: 2px solid orangered;
  width: 100px;
}

.active {
  color: white;
  background-color: orangered;
}

.list {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
